 body {background-color: #27B4F5;}

 h1 {color: #F89263;
 	font-family: optima;
 	font-size: 50px;
 	text-align: center;
 	background-color: #076D9C;
 	margin: 30px;
 	padding: 20px;}

 h2 {color: white;
 	font-family: candara;
 	font-size: 25px;
 	text-align: center;}

 p {color: black;
 	font-family: helvetica;
 	font-size: 14px;
 	text-align: center;
 	background-color: #FAE68F;
margin-left: 20%;
margin-right: 20%;
padding: 10px;}

 img{border-style: double;
    border-width: 5px;
color: #CF27F5;
display: block;
margin-left: auto;
margin-right: auto;
}

a{text-decoration: none;
color: #F4550B;
font-family: Blackwell;
font-size: 20px;}

a:hover{color: black;
font-size: 30px;}

a:visited {color:#076D9C;}

li {text-align: center;
list-style: none;
display: inline-block;
border-width: 5px;
border-color: #FAE68F;
border-style: double;
background-color: #F89263;
padding: 5px;
margin-left: auto;
margin-right: auto;}